<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>支付宝电脑网站支付</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/jinseblog/static/css/alipay.css" />
</head>
<body text=#000000 bgColor="#ffffff" leftMargin=0 topMargin=4>
	
	<header class="am-header">
	<h1>支付宝电脑网站支付入口页</h1>
	</header>
	<div id="main">
		<div id="tabhead" class="tab-head">
			<h2 id="tab1" class="selected" name="tab">付 款</h2>
			<!-- <h2 id="tab2" name="tab">交 易 查 询</h2>
			<h2 id="tab3" name="tab">退 款</h2>
			<h2 id="tab4" name="tab">退 款 查 询</h2>
			<h2 id="tab5" name="tab">交 易 关 闭</h2> -->
		</div>
		<form name=alipayment th:action="@{/order/view}" method="post"
			target="_blank">
			<div id="body1" class="show" name="divcontent">
				<dl class="content">
				<input type="hidden"  name="blogId" th:value="${blog.blogId}">
					<dt>商户订单号 ：</dt>
					<dd>
						<input id="outTradeNo" name="outTradeNo" />
					</dd>
					<hr class="one_line">
					<dt>订单名称 ：</dt>
					<dd>
						<input id="title" name="title" th:value="${blog.title}" />
					</dd>
					<hr class="one_line">
					<dt>付款金额 ：</dt>
					<dd>
						<input id="totalAmount" name="totalAmount" th:value="${blog.picture.price}"/>
					</dd>
					<hr class="one_line">
					<dt>留言 ：</dt>
					<dd>
						<input id="message" name="message"  placeholder="在这里可以给卖家留言..."/>
					</dd>
					<hr class="one_line">
					<dt></dt>
					<dd id="btn-dd">
						<span class="new-btn-login-sp">
							<button class="new-btn-login" type="submit"
								style="text-align: center;">付 款</button>
						</span> <span class="note-help">如果您点击“付款”按钮，即表示您同意该次的执行操作。</span>
					</dd>
				</dl>
			</div>
		</form>
		
		<div id="foot">
			<ul class="foot-ul">
				<li>支付宝版权所有 2015-2018 ALIPAY.COM</li>
			</ul>
		</div>
	</div>
</body>
<script language="javascript">

	
	function GetDateNow() {
		var vNow = new Date();
		var sNow = "";
		sNow += String(vNow.getFullYear());
		sNow += String(vNow.getMonth() + 1);
		sNow += String(vNow.getDate());
		sNow += String(vNow.getHours());
		sNow += String(vNow.getMinutes());
		sNow += String(vNow.getSeconds());
		sNow += String(vNow.getMilliseconds());
		document.getElementById("outTradeNo").value =  sNow;
	}
	GetDateNow();
</script>
</html>