<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="htmlHead :: common_header(~{::title},~{::link})">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>电脑网站支付return_url</title>
<link rel="stylesheet" type="text/css" href="/jinseblog/static/css/alipay.css" />
</head>
<body>

	<header class="am-header">
		<h1>交易成功</h1>
	</header>
	<div id="main">

		<table id="body1" class="show table table-hover" rules=rows>
		<hr class="one_line">
			<tr>
				<td>支付宝交易号 ：</td>
				<td>
					<p id="tradeNo" th:text="${orderInfor.tradeNo}"></p>
				</td>
			</tr>
			
			<tr>
				<td>订单编号：</td>
				<td>
					<p id="title" th:text="${orderInfor.outTradeNo}"></p>
				</td>
			</tr>
			<tr>
				<td>订单名称 ：</td>
				<td>
					<p id="totalAmount" th:text="${orderInfor.title}"></p>
				</td>
			</tr>
			<tr>
				<td>订单留言 ：</td>
				<td>
					<p id="message" th:text="${#dates.format(orderInfor.payedAt, 'yyyy-MM-dd HH:mm')}"></p>
				</td>
			</tr>
			<tr>
				<td>
					<a th:href="${orderInfor.blog.picture.url}" th:download="${orderInfor.blog.picture.url}">
						<span class="glyphicon glyphicon-download downloadImg" id="downloadSpan" title="下载">点击下载图片</span>
					</a>
				</td>
				<td><a th:href="@{/order/buyer/picture}">点击前往已买到的图片界面</a></td>
			</tr>
		</table>

		<div id="foot">
			<ul class="foot-ul">
				<li>支付宝版权所有 2015-2018 ALIPAY.COM</li>
			</ul>
		</div>
	</div>
</body>
</html>