<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>电脑网站支付return_url</title>
</head>

	<input type="text" class="form-control" name="" id=""  th:value="${orderInfor.tradeNo}">
	<input type="text" class="form-control" name="" id=""  th:value="${orderInfor.outTradeNo}">
	<input type="text" class="form-control" name="" id=""  th:value="${orderInfor.title}">
	<input type="text" class="form-control" name="" id=""  th:value="${orderInfor.payedAt}">
<body>
</body>
</html>