<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="htmlHead :: common_header(~{::title},~{})">
<title>关注</title>
<!--  <link rel="stylesheet" href="css/index.css"> -->
</head>
<div>
	<script src="/jinseblog/static/jquery/likeBlog.js" type="text/javascript" charset="utf-8"></script>
	<script src="/jinseblog/static/jquery/loading_more/loading_picture.js" type="text/javascript" charset="utf-8"></script>
</div>
<body style="background-color: #eeeeee;">

	<header th:replace="nav :: nav"></header>
	<!-- content-->
	<div class="row clearfix">
		<div class="col-md-2 column"></div>
		<div class="col-md-6 column">
			<ul class="unstyled">
				<li id="blogLi">
					<!-- Blog Post --> <br />
					<div class="card mb-4 panel-body panel" th:each="blog : ${blogList}">
						<a  name="blogId" th:href="@{'/blog/' + ${blog.blogId}}">
						<input type="hidden" id="type" name="type" th:value="${blog.picture.type}">
						<img th:src="${blog.picture.url}" alt="Cinque Terre" class="img center-block indexImg" /></a><br/>
						<div class="card-body">
							<div class="text-left">
								<a th:href="@{'/otherPhotoes/' + ${blog.user.userId}}"><img
									th:src="${blog.user.avatarUrl}" alt="140x140" width="50"
									height="50" class="img-circle" /></a> <a
									th:text="${blog.user.username}"
									th:href="@{'/otherPhotoes/' + ${blog.user.userId}}">username</a>
							</div>
							<div class="text-right">
								<a th:href="@{'/blog/' + ${blog.blogId}}"
									th:text="${'评论(' + blog.commentNumber + ')'}" class="">评论(13)</a>
								<a th:if="${blog.likeif}" width="20" id="likeBtn" align="right" class="img-circle heart heartAnimation" th:data-like="like"
									rel="like" th:data-blog-id="${blog.blogId}"></a> 
									<a th:unless="${blog.likeif}" width="20" id="likeBtn"
									align="right" class="img-circle heart" th:data-like="dislike"
									rel="unlike" th:data-blog-id="${blog.blogId}"> </a> 
									<span class="likeNumber" id="likeNumber" th:text="${blog.likeNumber}"
									th:data-blog-id="${blog.blogId}"></span>
								<!--<div th:unless="${blog.likeif}" class="heart" id="like1"  th:data-blog-id="${blog.blogId}" rel="like"></div>
								<div th:if="${blog.likeif}" class="heart heartAnimation" id="like1" th:data-blog-id="${blog.blogId}" rel="unlike"></div>-->
							</div>


							<h4 class="card-title" th:text="${blog.title}">图片标题</h4>
							<p class="card-text" th:text="${blog.description}">这里写图片信息</p>
						</div>
						<div class="card-footer text-muted">
							<a href="#" th:if="${blog.tagList != null}"
								th:each="tag : ${blog.tagList}"> <span
								class="label label-default" th:text="${tag.tagName}">标签</span></a>
							<time
								th:text="${#dates.format(blog.createAt, 'yyyy-MM-dd HH:mm')}">2017-5-2
								11:11:39</time>
						</div>
					</div> <!-- Blog Post -->

				</li>
			</ul>
		</div>
		<!-- center -->
		<!-- right -->
		<div class="col-md-3 column" id="indexRight">
			<div class="card-body  panel-body panel panel-default text-center">
				<p>
					<a> <img th:src="${session.CURRENT_USER.avatarUrl}"
						alt="140x140" width="50" height="50" class="img-circle" /></a>
				</p>
				<p>
					<a class="visitor-name" th:text="${session.CURRENT_USER.username}"
						th:href="@{/myPhotoes}">username</a>
				</p>
				<!-- list -->
				<div class="row clearfix">
					<div class="col-md-4 column style">
						<p>
							<a th:href="@{'/user/following/' + ${session.CURRENT_USER.userId}}"
								th:text="${'关注'+session.CURRENT_USER.followingNumber}"
								class="user_data">0<br /> <span>关注</span>
							</a>
						</p>
					</div>
					<div class="col-md-4 column">
						<p>
							<a th:href="@{'/user/follower/' + ${session.CURRENT_USER.userId}}"
								th:text="${'粉丝'+session.CURRENT_USER.followerNumber}" class="">
								0<br /> <span>粉丝</span>
							</a>
						</p>
					</div>
				</div>
				<!-- list -->
			</div>
			<div class="  panel-body panel panel-default">
				<label>订阅的标签</label>
				<div>
					<a href="#" data-popover-type="tag" target="_blank" th:if="${session.CURRENT_USER.tagList != null}" th:each="tag : ${session.CURRENT_USER.tagList}">
					<span class="label label-default"  th:text="${tag.tagName}">人像</span></a>
				</div>
			</div>
			<!-- right -->
		</div>
	</div>
<p class="ck" href="#">加载更多</p>
</body>
</html>
