<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>JINSE BLOG</title>
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/jinseblog/static/css/outside.css" />
<link rel="stylesheet" type="text/css" href="/jinseblog/static/css/fileupload/fileinput.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fileupload/default.css}" />

<link rel="stylesheet" type="text/css" href="/jinseblog/static/css/likestyle.css"/>

<script type="text/javascript" charset="utf-8" src="/jinseblog/static/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/jinseblog/static/js/bootstrap.min.js"></script>
</head>
<body>
</body>
</html>