<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>JINSE BLOG</title>
<link rel="stylesheet" type="text/css" href="static/css/fileupload/default.css" />
<link rel="stylesheet" type="text/css" href="static/css/outside.css" />
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
<script type="text/javascript" charset="utf-8" src="static/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="static/js/bootstrap.min.js"></script>
</head>
<body>
</body>
</html>