<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nav</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
</head>

<body>
	<div class="container" th:fragment="nav">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav
					class="navbar navbar-default navbar-width navbar-static-top nav-right"
					role="navigation">
					<div class="navbar-header">
						<a th:href="@{/indexPicture}"><img
							src="/jinseblog/static/img/logo.png" alt="140x140" width="200"
							height="50" class="img-circle" /></a>
					</div>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/indexPhoto/photo}">摄影</a></li>
							<li><a th:href="@{/indexPhoto/painting}">绘画</a></li>
							<li><a th:href="@{/indexArticle}">文章</a></li>
							<li><a th:href="@{/indexVideo}">短视频</a></li>
							<li><a th:href="@{/indexTag}">标签</a></li>
							<!-- <li><a href="#">热门</a></li> -->
						<!-- 	<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">更多<strong class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li value="...">...</li>
								</ul></li> -->
						</ul>
						<form class="navbar-form navbar-left" role="search"   method="get" th:action="@{/search}" >
							<select class="form-control" name="selectType">
								<option value="photo" th:selected="${selectType=='photo'}">摄影</option>
								<option value="painting" th:selected="${selectType=='painting'}">绘画</option>
								<option value="article" th:selected="${selectType=='article'}">文章</option>
								<option value="video" th:selected="${selectType=='video'}">短视频</option>
								<option value="username" th:selected="${selectType=='username'}">用户</option>
								<option value="tag" th:selected="${selectType=='tag'}">标签</option>
							</select>
							<div class="form-group">
								<input type="text" class="form-control" name="content"/>
							</div>
							<button type="submit" class="btn btn-default">搜索</button>
						</form>
						<ul class="nav navbar-nav navbar-right nav-right">
							<li><a th:unless="${session.username}" th:href="@{/login}"
								th:text="登录">[...]</a></li>
							<li><a th:unless="${session.username}" th:href="@{/signup}"
								th:text="注册">[...]</a></li>
							<li><a th:if="${session.username}" th:href="@{'/otherPhotoes/' + ${session.CURRENT_USER.userId} + '/1'}"
								th:text="${session.username}">username</a>
									<input type="hidden" id="currentUserId"
						th:value="${session.CURRENT_USER.userId}">
								</li>
							<li class="dropdown"><a th:if="${session.username}" th:href="@{/uploadPhotoIndex}"
								class="dropdown-toggle" data-toggle="dropdown">发布<strong
									class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/uploadPhotoIndex}">摄影</a></li>
									<li><a th:href="@{/uploadPaintingIndex}">绘画</a></li>
									<li><a th:href="@{/uploadArticleIndex}">文章</a></li>
									<li><a th:href="@{/uploadVideoIndex}">短视频</a></li>
									<li class="divider"></li>
									<li><a th:href="@{/information}">个人设置</a></li>
									<li class="divider"></li>
									<li><a th:href="@{/transaction/allpicture}">交易作品</a></li>
									<li><a th:href="@{/order/seller/picture}">已卖出的作品</a></li>
									<li><a th:href="@{/order/buyer/picture}">已买到的作品</a></li>
									<li><a th:href="@{/logout}">退出</a></li>
								</ul></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</body>
</html>
