<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="home/homeHead :: home_header">
<title>主页 - 摄影绘画 - USERNAME</title>
<!--  <link rel="stylesheet" href="css/index.css"> -->
</head>

<body>
	<!-- 导航栏 -->
	<header th:replace="nav :: nav"></header>
	
	
	<table class="asize" width="589" height="186" border="0" align="center"
		bordercolor="#000000"  th:fragment="avatarTable">
		<tr>
			<td colspan="2" rowspan="4"><div class="g-hd m-hdimg a-fadein ">
					<p>
						<a class="hdimg img" href="/"> <img
							src="http://imgsize.ph.126.net/?imgurl=http://img0.ph.126.net/0FE09whPAS-idfqeU98TRQ==/6631608725421989520.jpg_128x128x0x90.jpg"
							width="120" height="120" />					</p>
				</div></td>
			<td height="44" colspan="3" valign="middle"><a href="https://jinselanshan.tuchong.com/"
				class="visitor-name STYLE1">锦瑟阑珊
			</a></td>
		</tr>
		<tr>
			<td width="77"><a
				href="https://jinselanshan.tuchong.com/followers" class="user_data STYLE1">
					关注2496 </a>
					</td>
			<td width="77"><a
				href="https://jinselanshan.tuchong.com/followers" class="user_data STYLE1">
					关注2496 </a>
					</td>
			<td width="276"><a
				href="https://jinselanshan.tuchong.com/followers" class="user_data STYLE1">
					浙江 </a></td>
		</tr>
		<tr>
			<td height="42" colspan="3">简介</td>
		</tr>
		<tr>
			<td height="44" colspan="3">&nbsp;</td>
		</tr>
</table>
	
	<nav class="navbar navbar-default navbar-w" role="navigation"  th:fragment="navigation">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="#">摄影</a></li>
			<li><a href="#">绘画</a></li>
			<li><a href="#">文章</a></li>
			<li><a href="#">短视频</a></li>
			<li><a href="#">喜欢</a></li>
			<li><a href="#">标签</a></li>
		</ul>
	</div>
	</nav>
</body>
</html>
