<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="home/homeHead :: home_header">
<title>主页 - 摄影绘画 - USERNAME</title>
<!--  <link rel="stylesheet" href="css/index.css"> -->
</head>
<body style="background-color: #eeeeee;">

	<!-- header -->
	<!-- 导航栏 -->
	<header th:replace="nav :: nav"></header>
	<header th:replace="home/avatar :: avatarTable"></header>
	<header th:replace="home/avatar :: navigation"></header>
	<!-- header -->


	<main class="main-wrapper" id="container"> <!-- image Gallery -->
	<div class="wrapper">
		<div class="">
			<ul id="picul" class="small-block-grid-3 home"
				th:each="blog : ${session.CURRENT_USER.blogList}">
				<li class="masonry-item grid">
					<figure class="effect-sarah">
						<img height="200"
							width="200"
							th:src="${blog.picture.url+'?imageView2/1/w/400/h/250/format/jpg/q/90|imageslim'}"
							alt="" />
						<figcaption>
							<h2>
								<span th:text="${blog.title}">作品名</span>
							</h2>
							<p>
								<span class="post-title" th:text="${blog.description}"></span>
							</p>
							<p>
								<span th:text="${blog.likeNumber+'喜欢'}"></span>
							</p>
				        	<a th:href="@{'/blog/'+${blog.blogId}}"> 	</a>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
	</div>
	</main>

</body>
</html>