<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/homeHead :: home_header">
<title>主页 - 摄影绘画 - USERNAME</title>
<!--  <link rel="stylesheet" href="css/index.css"> -->
</head>
<body style="background-color: #eeeeee;">

	<!-- header -->
	<!-- 导航栏 -->
	<header th:replace="nav :: nav"></header>
	<header th:replace="home/avatar :: avatarTable"></header>
	<header th:replace="home/avatar :: navigation"></header>
	<!-- header -->
	

	<main class="main-wrapper" id="container"> 
	<!-- image Gallery -->
	<div class="wrapper">
		<div class="">
			<ul class="small-block-grid-3 home">
				<li class="masonry-item grid">
					<figure class="effect-sarah">
						<img
							src="https://drscdn.500px.org/photo/232360409/q=80_m=1500/v2?user_id=13921525&webp=true&sig=57663e3662d31d1e4c47787f77156c488f1c5f99d68e8e30fd396c173142b060"
							alt="" />
						<figcaption>
							<h2>
								<span>作品名</span>
							</h2>
							<p>
								<span class="post-title"> 而秋色却匆匆 </span>
							</p>
							<p>
								<span>0评论 /</span> <span>27喜欢</span>
							</p>
							<a
								href="file:///C|/Users/Administrator/Desktop/dstp_23_picxa/details.html">View
								more</a>
						</figcaption>
					</figure>
				</li>
<li class="masonry-item grid">
					<figure class="effect-sarah">
						<img
							src="https://drscdn.500px.org/photo/232360409/q=80_m=1500/v2?user_id=13921525&webp=true&sig=57663e3662d31d1e4c47787f77156c488f1c5f99d68e8e30fd396c173142b060"
							alt="" />
						<figcaption>
							<h2>
								<span>作品名</span>
							</h2>
							<p>
								<span class="post-title"> 而秋色却匆匆 </span>
							</p>
							<p>
								<span>0评论 /</span> <span>27喜欢</span>
							</p>
							<a
								href="file:///C|/Users/Administrator/Desktop/dstp_23_picxa/details.html">View
								more</a>
						</figcaption>
					</figure>
				</li><li class="masonry-item grid">
					<figure class="effect-sarah">
						<img
							src="https://drscdn.500px.org/photo/232360409/q=80_m=1500/v2?user_id=13921525&webp=true&sig=57663e3662d31d1e4c47787f77156c488f1c5f99d68e8e30fd396c173142b060"
							alt="" />
						<figcaption>
							<h2>
								<span>作品名</span>
							</h2>
							<p>
								<span class="post-title"> 而秋色却匆匆 </span>
							</p>
							<p>
								<span>0评论 /</span> <span>27喜欢</span>
							</p>
							<a
								href="file:///C|/Users/Administrator/Desktop/dstp_23_picxa/details.html">View
								more</a>
						</figcaption>
					</figure>
				</li><li class="masonry-item grid">
					<figure class="effect-sarah">
						<img
							src="https://drscdn.500px.org/photo/232360409/q=80_m=1500/v2?user_id=13921525&webp=true&sig=57663e3662d31d1e4c47787f77156c488f1c5f99d68e8e30fd396c173142b060"
							alt="" />
						<figcaption>
							<h2>
								<span>作品名</span>
							</h2>
							<p>
								<span class="post-title"> 而秋色却匆匆 </span>
							</p>
							<p>
								<span>0评论 /</span> <span>27喜欢</span>
							</p>
							<a
								href="file:///C|/Users/Administrator/Desktop/dstp_23_picxa/details.html">View
								more</a>
						</figcaption>
					</figure>
				</li><li class="masonry-item grid">
					<figure class="effect-sarah">
						<img
							src="https://drscdn.500px.org/photo/232360409/q=80_m=1500/v2?user_id=13921525&webp=true&sig=57663e3662d31d1e4c47787f77156c488f1c5f99d68e8e30fd396c173142b060"
							alt="" />
						<figcaption>
							<h2>
								<span>作品名</span>
							</h2>
							<p>
								<span class="post-title"> 而秋色却匆匆 </span>
							</p>
							<p>
								<span>0评论 /</span> <span>27喜欢</span>
							</p>
							<a
								href="file:///C|/Users/Administrator/Desktop/dstp_23_picxa/details.html">View
								more</a>
						</figcaption>
					</figure>
				</li>

			</ul>
		</div>
	</div>
	</main>

</body>
</html>