<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="htmlHead :: common_header">
<title>导航栏</title>
<!--  <link rel="stylesheet" href="css/index.css"> -->
</head>
<div>
	<script src="/jinseblog/static/jquery/likeBlog.js"
		type="text/javascript" charset="utf-8"></script>
</div>
<body style="background-color: #eeeeee;">

	<header th:replace="nav :: nav"></header>
	<!-- content-->
	<div class="row clearfix">
		<div class="col-md-2 column"></div>
		<div class="col-md-6 column">

			<!-- Blog Post -->
			<br />
			<div class="card mb-4 panel-body panel post-preview"
				th:each="blog : ${blogList}">
				<a th:href="@{'/article/blog/' + ${blog.blogId}}">
					<h2 class="post-title" th:text="${blog.title}">Title</h2>
					<h4 class="post-subtitle" th:text="${blog.article.content}">Problems
						look mighty small from 150 miles up</h4>
				</a>
				<span class="post-meta">
					Posted by <a href="#" th:text="${blog.user.username}">Username</a>
					on </span>
					<span class="post-meta" th:text="${#dates.format(blog.createAt, 'yyyy-MM-dd')}">September 24, 2017</span>
			</div>
			<!-- Blog Post -->

		</div>
		<!-- center -->
		<!-- right -->
		<div class="col-md-3 column"
			th:replace="photo/indexPhoto :: #indexRight"></div>
	     </div>

</body>
</html>
