<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Blog</title>
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<script src="./js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/bootstrap.min.js" type="text/javascript"
	charset="utf-8"></script>

<!-- Bootstrap core CSS -->
<link href="./css/bootstrap.min.css" rel="stylesheet">


</head>

<body style="background-color: #eeeeee;">

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default navbar-inverse" role="navigation">
					<div class="navbar-header">
						<img src="http://p1vkce34m.bkt.clouddn.com/image/jpg/logo.jpg"
							alt="140x140" width="200" height="50" class="img-circle" />

					</div>

					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav">
							<li class="active"><a href="#">摄影</a></li>
							<li><a href="#">绘画</a></li>
							<li><a href="#">文章</a></li>
							<li><a href="#">短视频</a></li>
							<li><a href="#">标签</a></li>
							<li><a href="#">热门</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">更多<strong class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a href="#">Separated link</a></li>
									<li class="divider"></li>
									<li><a href="#">One more separated link</a></li>
								</ul></li>
						</ul>
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" />
							</div>
							<button type="submit" class="btn btn-default">搜索</button>
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">USERNAME</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">发布<strong class="caret"></strong></a>
								<ul class="dropdown-menu">
									<li><a href="#">摄影</a></li>
									<li><a href="#">绘画</a></li>
									<li><a href="#">文章</a></li>
									<li><a href="#">短视频</a></li>
									<li class="divider"></li>
									<li><a href="#">设置信息</a></li>
									<li><a href="#">退出</a></li>
								</ul></li>
						</ul>
					</div>

				</nav>
			</div>
		</div>
	</div>


	<!-- content-->
	<div class="row clearfix">
		<div class="col-md-2 column"></div>
		<div class="col-md-6 column">
			<ul class="unstyled">
				<li>
					<!-- Blog Post --> <br />
					<div class="card mb-4 panel-body panel panel-default">
						<img
							src="http://p1vkce34m.bkt.clouddn.com/image/jpg/IMG_2016%E6%B0%B4%E5%8D%B0.jpg"
							alt="Cinque Terre" height="300" class="img center-block">
						<div class="text-left">
							<div class="card-body">
								<a><img
									src="http://imgsize.ph.126.net/?imgurl=http://img0.ph.126.net/0FE09whPAS-idfqeU98TRQ==/6631608725421989520.jpg_96x96x0x90.jpg"
									alt="140x140" width="50" height="50" class="img-circle" /></a><a
									href="#">username </a>
							</div>
							<div class="text-right">
								<a href="#" class="">评论(13)</a>&nbsp; <img
									src="img/icon-like-no.jpg" alt="140x140" width="20" height="20"
									align="right" class="img-circle" />
							</div>
							<h4 class="card-title">图片标题</h4>
							<p class="card-text">这里写图片信息</p>

						</div>
						<div class="card-footer text-muted">
							<a href="//tuchong.com/tags/哈尔滨"><span
								class="label label-default">哈尔滨</span></a>
							<time>3分钟前</time>
						</div>
					</div> <!-- Blog Post -->
					<div class="card mb-4 panel-body panel panel-default">
						<img
							src="http://imglf6.nosdn.127.net/img/cEkzd1hxVHZNcTVhWk5UWGVURXpFMlE4MU9xMTZqQmVDNGwzSmpYUVh4andyQUo2VWxENWZ3PT0.jpg?imageView&thumbnail=500x0&quality=96&stripmeta=0&type=jpg"
							alt="Cinque Terre" width="500" height="334"
							class="img center-block">
						<div class="card-body">
							<a> <img
								src="http://imgsize.ph.126.net/?imgurl=http://img0.ph.126.net/0FE09whPAS-idfqeU98TRQ==/6631608725421989520.jpg_96x96x0x90.jpg"
								alt="140x140" width="50" height="50" class="img-circle" /></a> <a
								href="#">username </a>
							<h4 class="card-title">图片标题</h4>
							<p class="card-text">这里写图片信息</p>

						</div>
						<div class="card-footer text-muted">
							<a href="//tuchong.com/tags/哈尔滨"><span
								class="label label-default">哈尔滨</span></a>
							<time>3分钟前</time>
						</div>
					</div>
				</li>

			</ul>
		</div>
		<!-- center -->

		<!-- right -->
		<div class="col-md-3 column">


			<div class="card-body  panel-body panel panel-default text-center">
				<p>
					<a> <img
						src="http://imgsize.ph.126.net/?imgurl=http://img0.ph.126.net/0FE09whPAS-idfqeU98TRQ==/6631608725421989520.jpg_96x96x0x90.jpg"
						alt="140x140" width="50" height="50" class="img-circle" /></a>
				</p>
				<p>
					<a class="visitor-name" href="https://jinselanshan.tuchong.com/">锦瑟阑珊</a>
				</p>
				<div class="row clearfix">
					<div class="col-md-4 column">
						<p>
							<a href="https://jinselanshan.tuchong.com/followers"
								class="visitor-data"> 2496<br> <span>粉丝</span>
							</a>
						</p>
					</div>
					<div class="col-md-4 column">
						<p>
							<a href="https://jinselanshan.tuchong.com/followers"
								class="visitor-data"> 2496<br> <span>粉丝</span>
							</a>
						</p>
					</div>
					<div class="col-md-4 column">
						<p>
							<a href="https://jinselanshan.tuchong.com/followers"
								class="visitor-data"> 2496<br> <span>粉丝</span>
							</a>
						</p>
					</div>
				</div>

			</div>
			<div class="  panel-body panel panel-default">
				<label>订阅的标签</label>
				<div>
					<a href="https://tuchong.com/tags/人像" data-popover-type="tag"
						data-popover-id="131" class="common-tag popover-action"
						target="_blank">人像</a>
				</div>
			</div>
			<!-- right -->
		</div>
	</div>
</body>

</html>
