<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="htmlHeadAndUpload :: common_header(~{::title},~{::link})">
<title>following</title>
<meta charset="utf-8" />

<link rel="stylesheet" href="/jinseblog/static/css/outside.css" />
<link rel="stylesheet" href="/jinseblog/static/css/user-following.css" />
<script type='text/javascript'
	src='http://l.bst.126.net/rsc/js/pagelayer/pagelayer.js?0011'></script>
</head>
<div>
	<script type="text/javascript" charset="utf-8" src="/jinseblog/static/js/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/jinseblog/static/js/bootstrap.min.js"></script>
    <script src="/jinseblog/static/jquery/followingList.js" type="text/javascript" charset="utf-8"></script>
    <script src="/jinseblog/static/jquery/likeBlog.js" type="text/javascript" charset="utf-8"></script>
</div>
<body>
	<header th:replace="nav :: nav"></header>
	<header th:replace="home/avatarTable :: avatarTable"></header>
	<header th:replace="home/avatarTable :: navigation"></header>

	<div class="profile-card-container">
		<h4 th:text="${session.CURRENT_USER.username} + '关注列表'">锦瑟阑珊&nbsp;关注了&nbsp;334人</h4>
		<div class="profile-card-list" id="userList">
			<ul class="pagelist-wrapper">

				<li class="card-wrap col-item" th:each="user : ${userList}">
					<div class="card ">
						<div class="card-bg-wrap">
							<div data-lazy-type=""
								style="background-color: rgb(255, 255, 255); background-image: url(&quot;https://static.tuchong.net/images/site-bg-2.jpg?2&quot;);"
								data-lazy-url="https://static.tuchong.net/images/site-bg-2.jpg?2"
								class="img picture-large"></div>
						</div>
						<div class="card-body">
							<!-- absolute -->
							<a class="avatar-wrap" target="_blank" href="#"> <img
								class="avatar" th:src="${user.avatarUrl}">
							</a>
							<!-- three line -->
							<div class="card-body-top clearfix">
								<div class="over-hidden nick-name-wrap ">
									<a class="nick-name ellipsis" target="_blank"
										href="https://yedaxu.tuchong.com/" th:text="${user.username}"></a>
								</div>
								<input type="button" id="followingBtn" class="btn btn-default btn-following" th:data-user-id="${user.userId}" th:value="已关注">
								<!-- btn style -->
								<!-- <input type="text" id="followingBtn"
									class="btn btn-default btn-following" data-user-id="${user.userId}"
									th:value="已关注"> -->

							</div>
							<div class="card-body-middle">

								<span th:text="${'关注'+user.followingNumber}">关注 222</span> <span
									class="interrupt-symbol">/</span> <span
									th:text="${'粉丝'+user.followerNumber}">粉丝 6666</span> <span
									class="interrupt-symbol">/</span> <span class="location"
									th:text="${user.city}">江苏-南京</span>

							</div>
							<div class="card-body-bottom over-hidden">
								<div class="description" th:text="${user.signatur}">希望看见更多的风景，认识更多的人。</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<i class="icon-loading--yellow" style="display: none;"></i>
			<div class="pagelist-load-more" style="display: block;">加载更多</div>
			<i class="icon-end" style="display: none;"></i>
		</div>
	</div>



</body>
</html>